body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input {
    max-width: calc(100% - 22px);
}

button {
    max-width: calc(100% - 22px);
}

section {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Adjust the gap between items */
    width: 100%;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Adjust the margin around each list item */
}

li img {
    width: 48px; /* Adjust the icon size */
    height: 48px;
    margin-bottom: 10px; /* Space between icon and name */
    margin-top: 10px; /* Space above the icon */
    margin-left: 5px; /* Space on the left side of the icon */
    margin-right: 5px; /* Space on the right side of the icon */
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
